.logo-ctu {
  width: 65px;
  height: 53px;
  padding: 4px 10px;
}

/*.navbar-default {
  background-color: #000 !important;
}*/

/*.navbar-default a {
  color: #fff !important;
}

.active>a {
  background-color: #836FFF !important;
  color: #fff !important;
}

.dropdown-menu a {
  color: #00FF00 !important;
}

.open>a {
  background-color: #836FFF !important;
  color: #fff !important;
}*/

.search {
  padding-top: 150px;
  padding-bottom: 270px;
  /*padding-left: 284px;
  padding-right: 284px;*/
}

@media screen and (max-width: 768px) {
    .search {
      padding-top: 145px;
      padding-bottom: 145px;
    }
}

.search form {
  max-width: 632px;
}

.search-result {
  padding-top: 0px;
  padding-bottom: 10px;
  /*padding-left: 284px;
  padding-right: 284px;*/
}
